@tailwind base;
@tailwind components;
@tailwind utilities;

body > div:last-child {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root {
    position: relative !important;
    display: flex;
    flex-direction: column;
}
